
@import url("common-styles-dark.css");

input:checked + .slider {
    background-color: #3B8DFF;
}

.permission-content-header {
    border: 1px solid #2d2d2d;
    background-color: #15151C;
}

.permission-content-instruction {
    background-color: #15151C;
}
